.login-form{
    position: absolute;
    z-index: 100;
    top: -200%;
    transition: all 0.5s ease;
}
.login-container{    
    position: absolute;
    z-index: 100;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    visibility: hidden;
}
.login-show{
    top: 20px;
    visibility: visible;
}